.display-inline-block{
  display: inline-block;
}
.show{
  display: block;
}
.hide{
  display: none;
}
header{
  width: 100vw;
  height: 100vh;
}

#imgcontainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 40%;
  background-color: black;
  z-index: 1;
}

header > nav{
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 40px;
  z-index: 1;
}

header > img{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#navUl{
  float: right;
  position: absolute;
  z-index: 100;
  top: calc(50% - 16px);
  right: 0;
}

#navUl > li{
  margin-right: 50px;
  font-size: 17px;
  text-align: right;
}

#navUl > li > a{
  color: #efeeec;
  font-family: "opensans-bold";
  text-decoration: none;
}

#navUl > li:visited{
  color: #ffffff;
}
#navUl > li > a:hover{
  text-decoration: none;
}
#searchImage{
  width: 18px;
  height: auto;
}

#companyLogo{
  float: left;
  position: absolute;
  z-index: 1;
  top: calc(50% - 21px);
  left: 70px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;

}
#separator{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
}

#userImage{
  width: 32px;
}

#dropdownMenu_language{
  display: none;
  position: relative;
  background-color: #1a1a1a;
  width: 50px;
  height: 90px;
  text-align: center;
  left: 35px;
  top: 15px;
  z-index: 20;
}

#dropDown_ul{
  display: block;
  position: absolute;
  z-index: 1;
}

#dropDown_ul>li>a{
  margin-left: 9px;
  margin-top: 5px;
  color: black;
  color: #f1f1f1;
  font-family: "opensans-bold";
  font-size: 17px;
  display: block;
}
#dropDown_ul>li>a:hover{
  text-decoration: none;
}

#dropDown_ul>li>a:hover{
  text-decoration: none;

}
#dropDown_ul:hover{
  display: block;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #1a1a1a;
  position: absolute;
  bottom: 0;
  top: -11px;
  right: 7px;
}



.triangle-down {
  width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #f1f1f1;
}
#langBar_Arrow{
  position: absolute;
  bottom: 0;
  top: 15px;
  margin-left: 10px;
}

#searchLabel{
  display: none;
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0;
  background-color: #1a1a1a;
  z-index: 444;
}

#closeSearchBar{
  width: 20px;
  height: auto;
  float: right;
  margin-top: 35px;
  margin-right: 100px;
}
#searchInput{
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  padding: 10px 50px;
  box-sizing: border-box;
  width: 30%;
  background-image: url(search.svg);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  /*transition: width 0.4s ease-in-out;*/
  width: 100%;
  color: #f1f1f1;
}
#searchInput:focus{
  outline: none;
  width: 100%;
}
.Search{
  width: 70%;
  margin-top: 15px;
  margin-left: 10%;
}
